*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: 'Knight Warrior';
    src: url('./fonts/KnightWarrior-w16n8.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body{
  background-color: #111111;
}
